<!DOCTYPE html>
    <head>
        <link href="/stylesheets/css/reset1.css" rel="stylesheet">
        <link href="/style/board.css" rel="stylesheet">
    </head>
    <body>
        <header>
            <span class="main-title">TODO</span>
            <span class="menu-btn">menu</span>
        </header>
        <section class="board">
        </section>
    </body>

    <script type="module" src="/src/components/board.js"></script>
</html>