<!DOCTYPE html>
    <head>
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" rel="stylesheet">
        <link href="/stylesheets/css/reset1.css" rel="stylesheet">
        <link href="/style/board.css" rel="stylesheet">
    </head>
    <body>
        <header>
            <span class="main-title">TODO</span>
            <span class="menu-btn"><%= userId %> project</span>
            <span class="menu-btn">menu</span>
        </header>
        <section class="board">
        </section>
    </body>
    <script type="module" src="/javascript/index.js"></script>
</html>