doctype html
head
  meta(charset='UTF-8')
  style
    include ../../client/stylesheets/css/reset.css
    include ../../client/stylesheets/css/signUp.css
#register
  header.header
    h2#register_text 회원가입
  form.register_form(method='post' action='/signUp/submit')
    .text_input
      label(for='name_input')
        | 이름
        br
      input#name_input(type='text' name='name')
      span#name_check.red_text
    .text_input
      label(for='id_input')
        | 아이디
        br
      input#id_input(type='text' name='id')
      span#id_check.red_text
    .text_input
      label(for='pwd_input')
        | 비밀번호
        br
      input#pwd_input(type='password' name='password')
      span#pwd_check.red_text
    .text_input
      label(for='pwd_confirm_Input')
        | 비밀번호 재확인
        br
      input#pwd_confirm_input(type='password' name='pwd_confirm')
      span#pwd_confirm_check.red_text
    .green_btn
      input(type='button' onclick='resetLayer()' value='초기화')
      input(type='button' value='가입하기' onclick='checkAll()')
      
    .pop_layer
      button#layer_exit_btn(type='button' onclick='closeLayer()')
        b#layer_exit_b X
      b#layer_head
      pre#layer_text(onscroll='scrolled(this)').
      #layer_btn
    #backgound_div
  footer#register_footer
    div
      p &copy; heessun
script(src='https://unpkg.com/axios/dist/axios.min.js')
script(type='text/javascript' src='/src/utils/util.js')
script(type='text/javascript' src='/src/utils/signUpInputCheck.js')
script(type='text/javascript' src='/src/utils/layer.js')
